
body{
    height: 100%;
    /*background-color: #efeff4;*/
}
.wraper{
    overflow: auto;
}
/**
    index css
 */

/*--最上层登陆注册框*/

.tit-index-logo{

    height: auto;
}


/*轮播图*/
.slideBox{
    width: 3000px;
    height: 200px;

}
/*跑马灯喇叭*/

/*跑马灯文字css*/
.index-marquee-text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.index-marquee-trumpet{
    background: url("../../img/indexLogo/trumpet.png") no-repeat center;
    background-size: cover;
    display: block;
    width: 20px;
    height: 20px;
}
/*热门新闻*/
.index-hot-news{
    width: 100%;
    background: #fff;
    border-bottom:1px solid #f7f7f7;

}
.index-hot-news span:first-child {
    display:inline-block;
    width: 5px;
    height: 18px;
    background: red;
    margin: 0 10px 0 10px;
}
.index-hot-news span:nth-child(2) {
    width: auto;
    font-size: 22px;
    font-weight: bold;
}
.index-hot-news :nth-child(3){
    display: inline-block;
    background: url("../../img/indexLogo/arrow_right.png") no-repeat center;
    width: 16px;
    height: 30px;
    background-size: 50% 50%;
}
.index-hot-news .arrows{
    display: inline-block;
    width: auto;
    height: 33px;
    line-height: 33px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}
.index-hot-news-contenr{
    padding:0 5px 0 10px ;
    background: #fff;
    border-bottom: 2px solid #cccccc;
}

/*开奖期数结果模块*/
.iletou-module{
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
}

.iletou-bg-img-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iletou-bg-img-title>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68%;
}
/*兼容iphone5 小屏幕*/
@media screen and (max-width: 320px){
    .iletou-bg-img-title>div{
        width: 80%;
    }
}
.iletou-bg-img-title span{
    margin-right: 10px;
}
.iletou-bg-img-title .iletou-bg-img-title-line{

    margin: 0 5px;
}
.iletou-bg-img-title-text{
    font-size: 16px;
    font-weight: 600;
}
.iletou-bg-img-title div p{
    margin-left: 6px;
    color: #b0afb3;
}


/*用户功能模块css*/
.index-user-function-box{
    background-color: #fff;
}
.index-user-function{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-bottom: 2px;
}
.index-user-function-logo-public{
    width: 60px;
    height: 60px;
    margin-top: 6px;
}
.index-live-logo{
    background: url("../../img/indexLogo/zhibo.png") no-repeat center;
    background-size: cover;
}
.index-map-depot-logo{
    background: url("../../img/indexLogo/tuku.png") no-repeat center;
    background-size: cover;
}
.index-vote-logo{
    background: url("../../img/indexLogo/toupiao.png") no-repeat center;
    background-size: cover;
}
.index-forum-logo{
    background: url("../../img/indexLogo/luntan.png") no-repeat center;
    background-size: cover;
}
.index-lottery-logo{
    background: url("../../img/indexLogo/jingcai.png") no-repeat center;
    background-size: cover;
}
.index-activity-logo{
    background: url("../../img/indexLogo/huodong.png") no-repeat center;
    background-size: cover;
}
.index-user-function li{
    width: 32.8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    /*padding: 10px 0;*/
}
/*选择前三个li*/
.index-user-function li:nth-child(-n+3){
    padding-top: 10px;
}
/*选择后面三个li*/
.index-user-function li:nth-last-child(-n+3){
    padding-bottom: 10px;
}
.index-user-function li p{
    margin: 6px 0;
}

/*广告图*/
.index-advertising-img{
    margin: 10px 0;
}
.index-advertising-img a{
    width:100%;
    height: 100%;
}
.index-advertising-img a img{
    width:100%;
}

/*用户查阅模块*/
.index-user-consult{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
}
.index-user-consult div span{
    display: block;
    width: 60px;
    height: 60px;
}
.index-user-consult div p{
    text-align: center;
}
.index-user-consult-free .index-user-consult-free-logo{
    background: url("../../img/indexLogo/mfzl.png") no-repeat center;
    background-size: cover;
}
.index-user-consult-liuhe .index-user-consult-liuhe-logo{
    background: url("../../img/indexLogo/lhbd.png") no-repeat center;
    background-size: cover;
}
.index-user-consult-superior .index-user-consult-superior-logo{
    background: url("../../img/indexLogo/jqqd.png") no-repeat center;
    background-size: cover;
}

/*尾部 合作伙伴*/
footer{
    background-color: #fff;
}
.index-partner{
    width:100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.index-partner-inside-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 26%;
}
.index-partner span{
    font-size: 14px;
}
.index-partner .index-footer-line{
    width: 2px;
    height: 12px;
    background-color: #ce2e2b;
}
.index-partner span:first-child{
    padding-left: 10px;
}
.index-partner span:last-child{
    padding-right: 10px ;
}
.index-partner a{
    margin-right: 10px;
}
/*尾部 合作伙伴logo*/
.index-footer-logo{
    display: flex;
    justify-content: space-around;
}
.index-footer-logo-public{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.index-footer-logo a{
    margin: 10px 10px;
}
.index-footer-logo a p{
    /*font-size: 14px;*/
    text-align:center;
    margin: 5px 0;
    color: #0e0e0e;
}

