<!DOCTYPE html PUBLIC '-//WAPFORUM//DTD XHTML Mobile 1.0//EN' 'http://www.wapforum.org/DTD/xhtml-mobile10.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
    <meta name="Keywords" content="天天彩票心水坛  "/>
    <meta name="Description" content="天天彩票心水坛  "/>
    <link rel='stylesheet' href='/static/css/color.css' type='text/css'/>
    <meta http-equiv='Content-Type' content='application/xhtml+xml;charset=UTF-8'/>
    <title>天天彩票心水</title>
</head>

<body>
<div class='b'>
    <table width="100%" border="0" class="f" bgcolor="#ffb6c1">
        <tr>
            <td align="center">
                    <span class="title_top">
{#                        <strong>#}
{#                            <a href="index.html">官网首页</a>｜#}
{#                            <a href="http://581tm.com">白姐赌经</a>｜#}
{#                            <a href="http://2881w.com/zl/list4.aspx?id=7&amp;curl=6899w.com">彩色图库</a>｜#}
{#                            <a href="http://2881w.com/zl/waptitle4.aspx?id=43&amp;curl=6899w.com">同步开奖</a>#}
{#                        </strong>#}
                        欢迎访问心水坛
                    </span>
                <br/>
            </td>
        </tr>
    </table>

    <div class="top">
        <div class="periods">
            <big>
                第<span id="q">--</span>期</big>
            <font color="#009900">(
                <span id="wait_text">更新中</span>
                <span id="aa"></span>)</font>
        </div>
        <dl class="liuhecai_run_lottery">
            <dd>
                <div id="w1" class="box m0" style="background-color: rgb(255, 0, 0); color: rgb(255, 255, 255);">
                    <div id="m1" class="num">--</div>
                    <div id="m1x" class="txt">--</div>
                </div>
                <div class="shadow"></div>
            </dd>
            <dd>
                <div id="w2" class="box m0" style="background-color: rgb(0, 0, 255); color: rgb(255, 255, 255);">
                    <div id="m2" class="num">--</div>
                    <div id="m2x" class="txt">--</div>
                </div>
                <div class="shadow"></div>
            </dd>
            <dd>
                <div id="w3" class="box m0" style="background-color: rgb(255, 0, 0); color: rgb(255, 255, 255);">
                    <div id="m3" class="num">--</div>
                    <div id="m3x" class="txt">--</div>
                </div>
                <div class="shadow"></div>
            </dd>
            <dd>
                <div id="w4" class="box m0" style="background-color: rgb(255, 0, 0); color: rgb(255, 255, 255);">
                    <div id="m4" class="num">--</div>
                    <div id="m4x" class="txt">--</div>
                </div>
                <div class="shadow"></div>
            </dd>
            <dd>
                <div id="w5" class="box m0" style="background-color: rgb(0, 153, 0); color: rgb(255, 255, 255);">
                    <div id="m5" class="num">--</div>
                    <div id="m5x" class="txt">--</div>
                </div>
                <div class="shadow"></div>
            </dd>
            <dd>
                <div id="w6" class="box m0" style="background-color: rgb(0, 153, 0); color: rgb(255, 255, 255);">
                    <div id="m6" class="num">--</div>
                    <div id="m6x" class="txt">--</div>
                </div>
                <div class="shadow"></div>
            </dd>
            <dd class="add">+</dd>
            <dd>
                <div id="w7" class="box m0" style="background-color: rgb(0, 153, 0); color: rgb(255, 255, 255);">
                    <div id="s1" class="num">--</div>
                    <div id="s1x" class="txt">--</div>
                </div>
                <div class="shadow"></div>
            </dd>
        </dl>
    </div>

    <div class="liuhecai_run_lottery_date">
        <ul>
            <li class="fleft kjrq">第
                <span id="nextQiShu">--</span>期开奖时间：
                <span id="nextMonth">--</span>月
                <span id="nextDay">--</span>日 星期
                <span id="nextWeek">--</span>
                <span id="nextTime">--</span>
            </li>
        </ul>
    </div>
    <div id="tmpinfo" style="display:none;"></div>


    {#    <img src="http://6899w.com/material/%E9%8D%A5%E5%89%A7%E5%A2%96.gif" alt=" " />#}

    <span style="background-color:#ba55d3; color:#fff; padding:1px 1px 1px 1px">建议使用uc浏览器访问本站.进站请保存好书签</a>
        </span>
    <br/>由于最近我们部分网址遭遇黑客拦截,跳到黑网投时,请立刻退出,以免被骗

    <br/>本站域名:
    <a href='http://www.kj431.com'>kj431.com</a>

    {#    <a href="ext:add_favorite?glsb=null&amp;v=1">#}
    {#        <font size="" color="#ff0000">收藏</font>#}
    {#    </a>]#}
    <br/>备用域名:
    <a href='http://www.kj39888.com'>kj39888.com</a>

    {#    <a href="ext:add_favorite?glsb=null&amp;v=1">#}
    {#        <font size="" color="#ff0000">收藏</font>#}
    {#    </a>]#}
    <br/>
    {#    <a href='http://2881w.com/zl/waptitle4.aspx?id=43&amp;curl=6899w.com'>报码 </a>#}
    {#    <a href='http://2881w.com/zl/list4.aspx?id=3&amp;curl=6899w.com'>挂牌 </a>#}
    {#    <a href='http://2881w.com/zl/list4.aspx?id=41&amp;curl=6899w.com'>属性 </a>#}
    {#    <a href='http://2881w.com/zl/list4.aspx?id=39&amp;curl=6899w.com'>记录 </a>#}
    {#    <br/>#}
    {#    <a href='http://2881w.com/zl/list4.aspx?id=12&amp;curl=6899w.com'>勐料 </a>#}
    {#    <a href='http://2881w.com/zl/list4.aspx?id=49&amp;curl=6899w.com'>解说 </a>#}
    {#    <a href='http://2881w.com/zl/list4.aspx?id=42&amp;curl=6899w.com'>全年 </a>#}
    {#    <a href='http://2881w.com/zl/list4.aspx?id=50&amp;curl=6899w.com'>策略 </a>#}
    <br/>
    {% for all_IndexTopDatas in all_IndexTopData %}
        <img src="static/img/1213.gif" alt="邀請您查看 "/>
        <a href="{{ all_IndexTopDatas.url }}">{{ all_IndexTopDatas.name }}</a>
        <br/>
    {% endfor %}

    <div class="nima">【诚信网投专版】</div>
    {% for IntegrityNetworkTop in all_IntegrityNetworkTop %}

        <a href='{{ IntegrityNetworkTop.url }}'>
            <font color='#0000ff'>{{ IntegrityNetworkTop.name }}</font>
        </a>
        <br/>

    {% endfor %}



    <div class="nima">★今期免费精准资料★</div>

    {% for OneselfData in all_OneselfData %}
        <a href="{% url 'detail' OneselfData.id %}">
            {{ OneselfData.name }}
        </a>
        <br/>
    {% endfor %}

    <div class="nima">★天天彩票推荐同盟合作站★</div>

    {% for AlliancePartner in all_AlliancePartner %}

        <a href='{{ AlliancePartner.url }}'>{{ AlliancePartner.name }}</a>
        <br/>

    {% endfor %}


    <div class="nima">★名站大流量合作区★</div>

    {% for FamousPartner in all_FamousPartner %}

        <a href='{{ FamousPartner.url }}'>{{ FamousPartner.name }}</a> -
        <a href='{{ FamousPartner.url }}'>{{ FamousPartner.name }}</a>
        <br/>

    {% endfor %}


    <div class="nima">★免费[公开]资料区★</div>

    {% for FreeOpen in all_FreeOpen %}

        <a href='{{ FreeOpen.url }}'>{{ FreeOpen.name }}</a>
        <br/>

    {% endfor %}

    <br/>手机服务诚信唯一网站
    <br/>注:外站广告连接一切收费与本站无关
    <br/>天天彩票官方授权号港icp备桉00855636号
    <br/>所有内容载自互联网,谨供香港居民参考!
    <br/>
    {#    {{ time|date:"Y-m-d H:i:s" }}#}
    {{ time }}
    <br/>
    {#    <a href=''>商务广告合作联系</a>#}


    {#百度链接跳转 屏蔽掉#}

    {#    <form action="http://m.baidu.com/s" target="_blank">#}
    {#        <table bgcolor="#4169e1">#}
    {#            <tr>#}
    {#                <td>#}
    {#                    <input name="tn" type="hidden" value="se_zzsearchcode_shhzc78w">#}
    {#                    <input type="text" value="hc6673.com" name="word" size="15" baidusug="1">#}
    {#                    <input type="submit" value="百度搜索">#}
    {#                </td>#}
    {#            </tr>#}
    {#        </table>#}
    {#        <br/>#}
    {#        <table width="100%" border="0" class="f" bgcolor="#ffb6c1">#}
    {#            <tr>#}
    {#                <td align="center">#}
    {#                        <span id="wait_text">#}
    {#                            <strong>#}
    {#                                <a href="index.html">官网首页</a>｜#}
    {#                                <a href='ly.aspx@sid=&amp;yli=1&amp;pw=0'>留言</a>｜#}
    {#                                <a href='http://ty226.net/zl/list4.aspx?id=50'>解说技巧</a>#}
    {#                        </span>#}
    {#                    </strong>#}
    {#                    <br/>#}
    {#                </td>#}
    {#            </tr>#}
    {#        </table>#}
    {#        <br/>#}
    {##}
    {#    </form>#}
</div>

<script language="javascript" src="http://count28.51yes.com/click.aspx?id=280114143&logo=10" charset="gb2312"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
<script src="/static/js/bmjs.2.0.js"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273986591'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1273986591%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</body>

</html>