
/**
    尾数大小 与 家禽野兽 css
 */
body{
    background-color: #fff;
}

.mantissa-size-title{
    background-color: #c9594f;
    width: 100%;
    height: 30px;
    color: #fff;
    line-height: 30px;
}

.mantissa-size{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.mantissa-size-body:nth-child(odd){
    background-color: #f7f7f7;
}
.mantissa-size ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.mantissa-size ul li{
    height: 100%;
}
.mantissa-size-body ul li:not(:first-child){
    color: #9fa1a3;
}