
/**
    属性参考 css
 */

/*nav css*/
body{
    background-color: #fff;
}
.nature-consult-tbody .nature-consult-tbody-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;

}
.nature-consult-tbody .nature-consult-tbody-nav li{
    width: 25%;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
}
.nature-consult-tbody-nav-red{
    background-color: #c9594f;
    color: #fff;
}

/*波色 css*/
.nature-consult-tbody-redball{
    width: 100%;

}
.nature-consult-tbody-bose{
    background-color: #fff;
}
.nature-consult-tbody-bose ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    line-height: 22px;
    margin-left: 5px;
}
.nature-consult-tbody-bose p{
    margin-left: 5px;
}
.nature-consult-tbody-bose ul li{
    margin-bottom: 8px;
}
.nature-consult-tbody-bose div{
    border-bottom: 1px solid #f7f7f7;
}
/*红色球*/
.nature-consult-tbody-redball ul li{
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 50%;
    background-color: #fe2851;
    color: #fff;
    margin: 2px 3px;
}
/*蓝色球*/
.nature-consult-tbody-blueball ul li{
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 50%;
    background-color: #4a90e2;
    color: #fff;
    margin: 2px 3px;
}
/*绿色球*/
.nature-consult-tbody-greenball ul li{
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 50%;
    background-color: #1eb771;
    color: #fff;
    margin: 2px 3px;
}

/*生肖 css*/
.nature-consult-tbody-zodiac{
    width: 100%;
    height: auto;
    background-color: #fff;
}
.nature-consult-tbody-zodiac div{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #f7f7f7;
}
.nature-consult-tbody-zodiac div p{
    margin: 0 10px;
}
.nature-consult-tbody-zodiac div ul {
    display: flex;
    align-items: center;
}
.nature-consult-tbody-zodiac div ul li{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    margin: 0 5px;
}


/*五行 css*/
.nature-consult-tbody-wuxing{
    width: 100%;
    height: auto;
    background-color: #fff;
}
.nature-consult-tbody-wuxing div{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #f7f7f7;
    padding:2px 0 8px 0;
}
.nature-consult-tbody-wuxing div p{
    margin: 5px 10px;
}
.nature-consult-tbody-wuxing div ul{
    display: flex;
    align-items: center;
}
.nature-consult-tbody-wuxing div ul li{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    margin: 0 5px;
}

/*家禽野兽 css*/
.nature-consult-tbody-zoology{
    width: 100%;
    height: auto;
    background-color: #fff;
}
.nature-consult-tbody-zoology div{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #f7f7f7;
    padding:2px 0 8px 0;
}
.nature-consult-tbody-zoology div p{
    margin: 5px 10px;
}
.nature-consult-tbody-zoology div ul{
    display: flex;
    align-items: center;
}
.nature-consult-tbody-zoology div ul li{
    border-radius: 50%;
    background-color: #fe2851;
    color: #fff;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    margin: 0 5px;
}